<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Add new student:</h1>
        <form th:action="@{'/admin-home/student/add'}" method="post">
            <label>Name</label>
            <input type="text" th:name="std_name" /> <br/>
            <label>MSSV</label>
            <input type="text" th:name="std_mssv" /> <br/>
            <label>DOB</label>
            <input type="date" th:name="std_dob" /> <br/>
            <label>Class</label>
            <select th:name="std_class_id">
                <option th:each="c : ${classList}" th:value="${c.id}" th:text="${c.className}"></option>
            </select> <br/>
           
            <input type="submit" value="Add" />
        </form>
    </body>
</html>
